header {

    border-bottom: 1px solid rgb(226, 238, 245);
    margin-bottom: 2%;

    a {
        padding-right  : 2%;
        text-decoration: none;
        color          : rgb(151, 209, 243);
        text-align         : center;

        &[class='active'] {
            color        : blue;
            font-weight  : bold;
            border-bottom: 1px solid blue;
        }

        &:hover {

        }
    }

}