* {
  margin    : 1%;
  font-size : 18px;
  overflow-x: hidden;

  @import './header.scss';
  @import './spinner.scss';
  @import './container.scss';

  h1,
  strong {
    color      : lightseagreen;
    text-shadow: 2px 2px rgb(211, 238, 247);
    font-size  : 24px;
  }

  .form {
    display  : grid;
    margin   : auto;
    max-width: 400px;

    h1 {
      text-align: center
    }

    input[type=text] {
      padding      : 5px;
      border-radius: 15px;
    }

    .error {
      color     : red;
      margin-top: 0
    }
  }

  button {
    color           : white;
    background-color: skyblue;
    border-radius   : 10px;
    padding         : 8px;

    &:hover {
      background-color: rgb(100, 198, 236);
    }
  }

}