@import './header.scss';

* {
  margin   : 1%;
  font-size: 18px;

  .error {
    color: red;
  }
}

.container {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1%;
  grid-row-gap:1%;
  // border: 1px solid gray;

 & > * { 
  border: 1px solid #d1d5da;
  border-radius:3px;
    h1{
      color:blue;
      font-weight:bold;
      word-wrap:break-word;
    }
    p{
      color:#586069
    }
  }
}